html, body, *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
}

.box{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
}

.item{
  background-color: rgb(234, 65, 46);
  border: solid 1rem rgb(255, 224, 102);
  border-radius: 1rem;
  box-shadow: 1rem 1rem 1rem rgb(0, 0, 0);
  width: 20%;
  height: auto;
  margin: 2rem;
  transition: all 500ms;
}

.item:hover{
  transform: translateY(-2rem);
}

.batmen{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.text{
  font-size: 2rem;
  color: rgb(0, 0, 0);
  background-color: rgb(240, 209, 193);
  border-radius: .5rem;
  width: 90%;
  margin: auto;
}

.text2{
  background-color: rgb(236, 236, 238);
  font-size: 1.5rem;
  width: 90%;
  margin: auto;
}

.description{
  margin: 1rem;
  font-size: 1.5rem;
}

img{
  width: 90%;
  height: 55%;
  background-color: rgb(255, 255, 255);
}
