html, body, *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
}

.box{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
}

.item{
  background-color: rgb(127, 255, 212);
  border-radius: 1rem;
  box-shadow: 1rem 1rem 1rem rgb(0, 0, 0);
  width: 27%;
  height: auto;
  margin: 2rem;
}

.text{
  font-size: 2rem;
  color: rgb(0, 0, 0);
}

img{
  width: 80%;
  height: 55%;
  background-color: rgb(255, 255, 255);
}