
  :root{
    --light-blue: #2998ff;
    --black: #000;
    --white: #ffffff;
    --dark-blue: #135cc5;
    --light-red: #f87171;
    --dark-red: #dc2626;
    --gray: #252c30;
    --card-red: #ea412e;
    --border-yellow: #ffe066;
    --magenta: #dea4b2;
    --changing: linear-gradient(160deg, #302724, #ea412e);
    --changing-cool: linear-gradient(160deg, #072053, #609be7);
  
  /* Intentions */
    --primary: var(--light-blue);
    --secondary: var(--dark-blue);
  
  /* Typography */
    --h1: 11.391rem;
    --h2: 7.594rem;
    --h3: 5.063rem;
    --h4: 3.375rem;
    --h5: 2.25rem;
    --h6: 1.5rem
  }
  
